body 
{
    margin: 0;
    padding: 0;
    background-color: lightgray;
}
.app 
{
    width: 50%;
    height: auto;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    padding: 25px;
}