body 
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: lightgray;
}
.app 
{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 25px;
    background-color: coral;
    color: black;
    margin-top: 10%;
    /* animation: 2s fadeInUpBig infinite; */
    animation: 2s fadeInUpBig alternate;
}
.app hr 
{
    width: 30%;
    border: solid 1px black;
    
}
.app h1,hr,p 
{
    /* animation: 2s fadeIn infinite; */
    /* animation: 2s bounce infinite; */
    animation: 2s infinite flipInX;
}